@import 'tailwindcss';

:root {
  --background: #01040a;
  --foreground: #f0f6eb;
  --secondary: #0d1116;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}
